<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.UpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCon</servlet-name>
  	<display-name>DeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.DeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IDCheckCon</servlet-name>
  	<display-name>IDCheckCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.IDCheckCon</servlet-class>
  </servlet>
<!--   <servlet>
  	<servlet-name>cctvcon</servlet-name>
  	<display-name>cctvcon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.cctvcon</servlet-class>
  </servlet> -->
  <servlet>
  	<servlet-name>RevieWriteCon</servlet-name>
  	<display-name>RevieWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.RevieWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PoliceListCon</servlet-name>
  	<display-name>PoliceListCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.PoliceListCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cctvListCon</servlet-name>
  	<display-name>cctvListCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.cctvListCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewListCon</servlet-name>
  	<display-name>ReviewListCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.ReviewListCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FireListCon</servlet-name>
  	<display-name>FireListCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.FireListCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SafeListCon</servlet-name>
  	<display-name>SafeListCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.SafeListCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentCon</servlet-name>
  	<display-name>CommentCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.CommentCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePoliceCon</servlet-name>
  	<display-name>DeletePoliceCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.DeletePoliceCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MateListCon</servlet-name>
  	<display-name>MateListCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.MateListCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MateWriteCon</servlet-name>
  	<display-name>MateWriteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.MateWriteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MateCon</servlet-name>
  	<display-name>MateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.MateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMate</servlet-name>
  	<display-name>DeleteMate</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.DeleteMate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteReview</servlet-name>
  	<display-name>DeleteReview</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.DeleteReview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSafe</servlet-name>
  	<display-name>DeleteSafe</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.DeleteSafe</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteFire</servlet-name>
  	<display-name>DeleteFire</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.DeleteFire</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCctv</servlet-name>
  	<display-name>DeleteCctv</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.DeleteCctv</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>insertP</servlet-name>
  	<display-name>insertP</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controll.insertP</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCon</servlet-name>
  	<url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IDCheckCon</servlet-name>
  	<url-pattern>/IDCheckCon</url-pattern>
  </servlet-mapping>
 <!--  <servlet-mapping>
  	<servlet-name>cctvcon</servlet-name>
  	<url-pattern>/cctvcon</url-pattern>
  </servlet-mapping> -->
  <servlet-mapping>
  	<servlet-name>RevieWriteCon</servlet-name>
  	<url-pattern>/RevieWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PoliceListCon</servlet-name>
  	<url-pattern>/PoliceListCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cctvListCon</servlet-name>
  	<url-pattern>/cctvListCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewListCon</servlet-name>
  	<url-pattern>/ReviewListCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FireListCon</servlet-name>
  	<url-pattern>/FireListCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SafeListCon</servlet-name>
  	<url-pattern>/SafeListCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentCon</servlet-name>
  	<url-pattern>/CommentCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePoliceCon</servlet-name>
  	<url-pattern>/DeletePoliceCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MateListCon</servlet-name>
  	<url-pattern>/MateListCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MateWriteCon</servlet-name>
  	<url-pattern>/MateWriteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MateCon</servlet-name>
  	<url-pattern>/MateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMate</servlet-name>
  	<url-pattern>/DeleteMate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteReview</servlet-name>
  	<url-pattern>/DeleteReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSafe</servlet-name>
  	<url-pattern>/DeleteSafe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteFire</servlet-name>
  	<url-pattern>/DeleteFire</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCctv</servlet-name>
  	<url-pattern>/DeleteCctv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>insertP</servlet-name>
  	<url-pattern>/insertP</url-pattern>
  </servlet-mapping>
</web-app>