<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.CCTVDAO">
<!-- parameterType : sql 실행시 넘겨줄 파라미터의 실제 타입 -->

<!--  	<select id="selectAll2" resultType="com.smhrd.model.VO" parameterType="String">
		select * from cctv_gwanju where 관리기관명 like '%#{all}%'
	</select> -->
	<select id="selectAll" resultType="com.smhrd.model.CCTV" parameterType="String">
		select * from tbl_cctv where cctv_name='동구'
	</select>
<!-- 관리자 페이지 cctv 목록 -->	
	<select id="selectcctvList" resultType="com.smhrd.model.CCTV" parameterType="int">
		select * from tbl_cctv where cctv_seq>=#{cctv_seq} order by cctv_seq

	</select>
	
	<!-- 관리자의 cctv삭제 -->
	<delete id="deleteCctv" parameterType="int">
		delete from tbl_cctv where cctv_seq=#{cctv_seq}
	</delete>
<!-- 	<select id="selectAll" resultType="com.smhrd.model.CCTV">
		select * from tbl_cctv where cctv_name='동구'
	</select> -->

</mapper>