<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.CommentDAO">
	<!-- 댓글 작성 -->
	<insert id="insertComment" parameterType="com.smhrd.model.Comment">
		insert into tbl_comment values (tbl_comment_SEQ.nextval, #{r_seq}, #{cmt_content}, sysdate, #{m_id})
	</insert>
	
	<!-- 리뷰에 댓글 표시 -->
 	<select id="selectComment" resultType="com.smhrd.model.Comment" parameterType="int">
		select * from tbl_comment where r_seq = #{r_seq} order by cmt_seq desc
	</select>
	
</mapper>