<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.MateDAO">
	<!-- 리뷰 작성 -->
	<insert id="insertMate" parameterType="com.smhrd.model.Mate">
		insert into tbl_schoolmate values (tbl_schoolmate_seq.nextval, ' ', sysdate, #{m_id}, #{mate_memo}, #{mate_name})
	</insert>
	
	<!-- 리뷰 리스트 페이징 -->
	<select id="selectMateList" resultType="com.smhrd.model.Mate" parameterType="int">
		select * from tbl_schoolmate where mate_seq>=#{mate_seq} order by mate_seq desc
	</select>
	
	<!-- 리뷰 하나 보여주기 -->
	<select id="selectOne" parameterType="int" resultType="com.smhrd.model.Mate">
		select * from tbl_schoolmate where mate_seq=#{mate_seq}
	</select>
	
	<!-- 개인정보수정 -->
	<update id="updateMate" parameterType="com.smhrd.model.Mate">
		update tbl_schoolmate set mate_id=#{mate_id} where mate_seq=#{mate_seq} 
	</update>
	
	<!-- 메이트 글 삭제 -->
	<delete id="deleteMate" parameterType="int">
		delete from tbl_schoolmate where mate_seq=#{mate_seq}
	</delete>
</mapper>