<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.MemberDAO">
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="com.smhrd.model.Member">
		insert into tbl_member values(#{m_id}, #{m_pw}, #{m_name}, #{m_nick}, #{m_gender}, #{m_age}, 'U', sysdate)
	</insert>
	
	<!-- 로그인 -->
	<select id="selectMember" parameterType="com.smhrd.model.Member" resultType="com.smhrd.model.Member">
		select * from tbl_member where m_id=#{m_id} and m_pw=#{m_pw}
	</select>
	
	<!-- 개인정보수정 -->
	<update id="updateMember" parameterType="com.smhrd.model.Member">
		update tbl_member set m_pw=#{m_pw}, m_name=#{m_name}, m_nick=#{m_nick} where m_id=#{m_id} 
	</update>
	
	<!-- 관리자의 전체회원 조회 -->
	<select id="selectAllMember" resultType="com.smhrd.model.Member">
		select * from tbl_member where not(m_id='admin')
	</select>
	
	<!-- 관리자의 회원 삭제 -->
	<delete id="deleteMember" parameterType="String">
		delete from tbl_member where m_id=#{m_id}
	</delete>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" parameterType="String" resultType="boolean">
		select case when count(*)>0 then 1
					else 0
				end result
		from tbl_member where m_id=#{m_id}
	</select>
</mapper>