<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
		<!-- 환경설정(계정,driver,url) -->        
        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@project-db-stu.ddns.net:1524:xe"/>
                <property name="username" value="campus_e_0707_5"/>
                <property name="password" value="smhrd5"/>
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
    	<mapper resource="com/smhrd/database/MemberMapper.xml"/>
    	<mapper resource="com/smhrd/database/AllMapper.xml"/>
    	<mapper resource="com/smhrd/database/EastMapper.xml"/>
    	<mapper resource="com/smhrd/database/WestMapper.xml"/>
    	<mapper resource="com/smhrd/database/NorthMapper.xml"/>
    	<mapper resource="com/smhrd/database/SouthMapper.xml"/>
    	<mapper resource="com/smhrd/database/GsMapper.xml"/>
    	<mapper resource="com/smhrd/database/PoliceMapper.xml"/>
    	<mapper resource="com/smhrd/database/ReviewMapper.xml"/>
    	<mapper resource="com/smhrd/database/CCTVMapper.xml"/>
    	<mapper resource="com/smhrd/database/FireMapper.xml"/>
    	<mapper resource="com/smhrd/database/CommentMapper.xml"/>
    	<mapper resource="com/smhrd/database/SafeMapper.xml"/>
    	<mapper resource="com/smhrd/database/MateMapper.xml"/>
    </mappers>
</configuration>