<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.SouthDAO">
<!-- parameterType : sql 실행시 넘겨줄 파라미터의 실제 타입 -->

<!--  	<select id="selectAll2" resultType="com.smhrd.model.VO" parameterType="String">
		select * from cctv_gwanju where 관리기관명 like '%#{all}%'
	</select> -->
	<select id="selectAllfireS" resultType="com.smhrd.model.Fire" parameterType="String">
		select * from tbl_firestation where f_addr like '%남구%'
	</select>
	
	<select id="selectAllcctvS" resultType="com.smhrd.model.CCTV" parameterType="String">
		select * from tbl_cctv where cctv_name='남구'
	</select>
		<select id="selectAllpolS" resultType="com.smhrd.model.Police" parameterType="String">
		select * from tbl_police where p_addr like '%남구%'
	</select>
	<select id="selectAllsafeS" resultType="com.smhrd.model.Safe" parameterType="String">
		select * from tbl_safezone where sz_addr like '%남구%'
	</select>
<!-- 	<select id="selectAll" resultType="com.smhrd.model.CCTV">
		select * from tbl_cctv where cctv_name='동구'
	</select> -->

</mapper>